{{- if eq .Values.global.registry.url "" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "docker-registry.fullname" . }}"
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "docker-registry.name" . }}
    chart: {{ include "docker-registry.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "docker-registry.name" . }}
      release: {{ .Release.Name }}
      logging: "true"
  template:
    metadata:
      labels:
        app: {{ include "docker-registry.name" . }}
        release: {{ .Release.Name }}
        logging: "true"
    spec:
      initContainers:
        - name: "htpasswd-{{ .Chart.Name }}"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/entrypoint.sh
          args:
            - htpasswd
            - -Bbn
            - "{{ .Values.global.registry.username }}"
            - "{{ .Values.global.registry.password }}"
          volumeMounts:
            - name: "configmap-{{ .Chart.Name }}"
              mountPath: /bin/entrypoint.sh
              readOnly: true
              subPath: entrypoint.sh
            - name: "auth-{{ .Chart.Name }}"
              mountPath: /auth
        {{- if eq .Values.global.persistence.mode "s3" }}
        - name: "storage-init-{{ .Chart.Name }}"
          image: "minio/mc:RELEASE.2020-11-17T00-39-14Z"
          imagePullPolicy: IfNotPresent
          command: [ "/bin/sh", "/bin/storage/init.sh"]
          volumeMounts: 
            - name: "storage-init-{{ .Chart.Name }}"
              mountPath: "/bin/storage"
              readOnly: true
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          env:
            - name: REGISTRY_STORAGE_DELETE_ENABLED
              value: 'true'
            - name: REGISTRY_HTTP_HOST
              value: 'https://{{ .Values.global.registry.ingress.host }}:443'
            - name: REGISTRY_AUTH
              value: "htpasswd"
            - name: REGISTRY_AUTH_HTPASSWD_REALM
              value: "Registry Realm"
            - name: REGISTRY_AUTH_HTPASSWD_PATH
              value: "/auth/htpasswd"
            - name: REGISTRY_HTTP_SECRET
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-docker-registry-secret"
                  key: "password"
            {{- if eq .Values.global.persistence.mode "s3" }}
            - name: REGISTRY_HEALTH_STORAGEDRIVER_ENABLED
              value: "false"            
            - name: REGISTRY_STORAGE
              value: s3
            - name: REGISTRY_STORAGE_S3_ACCESSKEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-aws-secret"
                  key: "awsAccessKeyID"
            - name: REGISTRY_STORAGE_S3_SECRETKEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-aws-secret"
                  key: "awsSecretAccessKey"
            - name: REGISTRY_STORAGE_S3_REGION
              value: {{ include "docker-registry.region" . }}
            - name: REGISTRY_STORAGE_S3_BUCKET
              value: {{ .Values.global.registry.persistence.bucket }}
            - name: REGISTRY_STORAGE_S3_ROOTDIRECTORY
              value: /{{ .Release.Name }}/
            {{- end }}
          volumeMounts:
            - name: "auth-{{ .Chart.Name }}"
              mountPath: /auth
              readOnly: true
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- if .Values.global.tolerations }}  
      tolerations:
{{ toYaml .Values.global.tolerations | indent 8 }}
{{- end }}
      volumes:
        - name: "configmap-{{ .Chart.Name }}"
          configMap:
            defaultMode: 0700
            name: {{ include "docker-registry.fullname" . }}
        - name: "auth-{{ .Chart.Name }}"
          emptyDir: {}
        - name: "storage-init-{{ .Chart.Name }}"
          secret:
            secretName: "{{ .Release.Name }}-docker-registry-secret"
            items:
              - key: "storageInit"
                path: "init.sh"
{{- end -}}
