# Default values for gateway.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  shadowing_on: false
  reqstore_enabled: false

replicaCount: 1

image:
  repository: hydrosphere/serving-gateway
  tag: 2.0.0
  pullPolicy: Always

service:
  type: ClusterIP
  http_port: 9090
  grpc_port: 9091

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
