version: "3.5"
services:
  postgres:
    image: postgres:9.6-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    networks:
      - hydronet
    environment:
      - "POSTGRES_DB=docker"
      - "POSTGRES_USER=docker"
      - "POSTGRES_PASSWORD=docker"

  manager:
    image: hydrosphere/serving-manager:latest
    container_name: manager
    ports:
      - "19091:9091"
    networks:
      - hydronet
      - extnet
    depends_on:
      - postgres
    environment:
      - "ADVERTISED_MANAGER_HOST=manager"
      - "ADVERTISED_MANAGER_PORT=9091"
      - "DATABASE_HOST=postgres"
      - "SIDECAR_HOST=sidecar"
      - "NETWORK_NAME=demo_hydronet"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  sidecar:
    image: hydrosphere/serving-sidecar:0.1.10
    container_name: sidecar
    ports:
      - "80:8080"
      - "8082:8082"
    networks:
      - extnet
      - hydronet
    environment:
      #- "SIDECAR_LOG_LEVEL=trace"
      - "MANAGER_HOST=manager"
      - "MANAGER_PORT=9091"
      - "SERVICE_ID=-20"
      - "SERVICE_NAME=manager"

  managerui:
    image: hydrosphere/serving-manager-ui:latest
    container_name: managerui
    networks:
      - extnet
      - hydronet
    labels:
      - "RUNTIME_ID=-22"
    environment:
      - "MANAGER_HOST=sidecar:8080"
    depends_on:
      - sidecar

  gateway:
    image: hydrosphere/serving-gateway:latest
    container_name: gateway
    ports:
      - "29091:9091"
      - "29090:9090"
    networks:
      - extnet
      - hydronet
    environment:
      - "SIDECAR_HOST=sidecar"
    depends_on:
      - sidecar
      - manager

networks:
  hydronet:
    name: demo_hydronet
    internal: true
    ipam:
      config:
        - subnet: 172.16.0.0/24

  extnet:
    driver: bridge
