apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: viz-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: {{ include "visualization.name" . }}
      release: {{ .Release.Name }}