apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ template "ui.fullname" . }}"
  namespace: {{ .Release.Namespace }}
  labels:
    app: "{{ include "ui.name" . }}"
    chart: "{{ include "ui.chart" . }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: "{{ include "ui.name" . }}"
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        logType: "nginx"
        app: {{ include "ui.name" . }}
        release: {{ .Release.Name }}
        logging: "true"
    spec:
      securityContext:
        runAsUser: 42069
      containers:                                       
        - name: {{ .Chart.Name }}
          image: {{ if .Values.image.full }}"{{ .Values.image.full }}"{{ else }}"{{ .Values.image.repository }}:{{ .Values.image.tag }}"{{ end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: grpc
              containerPort: 9090
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
          env:
            - name: OSS
            {{- if .Values.public }}
              value: "true"
            {{- else }}
              value: ""
            {{- end }}
            - name: STATS_ACCESS
              value: "127.0.0.1"
            - name: MANAGER_HOST
              value: {{ template "manager.fullname" . }}
            - name: GATEWAY_HOST
              value: {{ template "gateway.fullname" . }}
            {{- if .Values.public }}   
            - name: MONITORING_HOST
              value: "localhost"
            - name: PROMETHEUS_AM_HOST
              value: "localhost"                          
            {{- else }}
            - name: MONITORING_HOST
              value: {{ template "sonar.fullname" . }}
            - name: PROMETHEUS_AM_HOST
              value: {{ template "prometheus-am.fullname" . }}
            - name: VISUALIZATION_HOST
              value: {{ template "visualization.fullname" . }}
            - name: ROOTCAUSE_HOST
              value: {{ template "rootcause.fullname" . }}
            - name: STAT_HOST
              value: {{ template "stat.fullname" . }}
            - name: AUTO_OD_HOST
              value: {{ template "auto-od.fullname" . }}
            {{- end }}  
            - name: MANAGER_HTTP_PORT
              value: "9090"
            - name: MANAGER_GRPC_PORT
              value: "9091"
            - name: GATEWAY_HTTP_PORT
              value: "9090"
            - name: GATEWAY_GRPC_PORT
              value: "9091"
            - name: MONITORING_HTTP_PORT
              value: "9090"
            - name: MONITORING_GRPC_PORT
              value: "9091"
            - name: ROOTCAUSE_HTTP_PORT
              value: "5005"
            - name: STAT_PORT
              value: "5002"
            - name: AUTO_OD_GRPC_PORT
              value: "5001"
            - name: INGRESS_PATH
              value: {{if .Values.global.ingress.enabled }}'//{{ .Values.global.ingress.frontendUrl }}{{ trimSuffix "/" .Values.global.ingress.path }}/'{{else}}'/'{{end}}
            {{- with .Values.env }}
{{ toYaml . | indent 12 }}
            {{- end }}
          {{- if .Values.configuration}}
          volumeMounts:
            - name: "configmap-{{ .Chart.Name }}"
              mountPath: /usr/share/nginx/html/assets/config.json
              subPath: config.json
              readOnly: true
          {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- if .Values.global.tolerations }}  
      tolerations:
{{ toYaml .Values.global.tolerations | indent 8 }}
{{- end }}
      imagePullSecrets:
        - name: "{{ .Release.Name }}-docker-secret"
      volumes:
        - name: "configmap-{{ .Chart.Name }}"
          configMap:
            defaultMode: 0755
            name: {{ include "ui.fullname" . }}
            items:
              - key: config.json
                path: config.json
