{{- if .Values.global.ingress.enabled }}
apiVersion: {{ include "ui.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: "{{ include "ui.fullname" . }}"
  namespace: {{ .Release.Namespace }}
  labels:
    app: "{{ include "ui.name" . }}"
    chart: "{{ include "ui.chart" . }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.global.ingress.issuer | quote }}
    kubernetes.io/ingress.class: "nginx"
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/client-max-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    {{- if ne .Values.global.ingress.path "/"}}
    nginx.ingress.kubernetes.io/rewrite-target: "/$2"
    {{ end }}
spec:
  rules:
  - host: {{ .Values.global.ingress.frontendUrl }}
    http:
      paths:
      - backend:
          serviceName: {{ template "ui.fullname" . }}
          servicePort: 9090
        path: {{ template "ui.ingress-http-path" . }}
  tls:
  - hosts:
    - {{ .Values.global.ingress.frontendUrl }}
    secretName: "{{ .Release.Name }}-ui-tls"
---
{{- if .Values.global.ingress.enableGrpc }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ template "ui.fullname" . }}-grpc"
  namespace: {{ .Release.Namespace }}
  labels:
    app: "{{ include "ui.name" . }}"
    chart: "{{ include "ui.chart" . }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.global.ingress.issuer | quote }}
    kubernetes.io/ingress.class: "nginx"
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/client-max-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
    nginx.ingress.kubernetes.io/grpc-backend: "true"
spec:
  rules:
  - host: {{ .Values.global.ingress.frontendUrl }}
    http:
      paths:
        - path: "/tensorflow.serving."
          backend: 
            serviceName: {{ template "ui.fullname" . }}
            servicePort: grpc
        - path: "/hydrosphere."
          backend:
            serviceName: {{ template "ui.fullname" . }}
            servicePort: grpc
  tls:
  - hosts:
    - {{ .Values.global.ingress.frontendUrl }}
    secretName: "{{ .Release.Name }}-ui-grpc-tls"
{{ end }}

{{- end -}}