version: "3.5"

services:
  stat:
    container_name: stat
    image: hydrosphere/hydro-stat:8afb00838f12afd5386154672662070342914b4b
    environment:
      - MONGO_URL=mongodb
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
      - S3_ENDPOINT=http://minio:9000
      - HTTP_UI_ADDRESS=http://managerui:8080
    ports:
      - "5002:5000"
    depends_on:
      - mongodb
      - minio
    networks:
      - hydronet
      - extnet
