version: "3.5"

services:
  manager:
    image: hydrosphere/serving-manager:d27e43005189b032a90772a6f652acbf69e6cf08
    container_name: manager
    ports:
      - "19090:9090"
      - "19091:9091"
    depends_on:
      - postgres
    networks:
      - hydronet
      - extnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
