version: "3.5"

services:
  manager:
    image: hydrosphere/serving-manager:d9e08fd4ad5ccce4544e69ec659cc29e12343634
    container_name: manager
    ports:
      - "19090:9090"
      - "19091:9091"
    depends_on:
      - postgres
    networks:
      - hydronet
      - extnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
