version: "3.5"

services:
  gateway:
    image: bulbawarrior/serving-gateway:ab0c27b787a5dec79e55cc61e6b8228573394214
    container_name: gateway
    ports:
      - "29090:9090"
      - "29091:9091"
    depends_on:
      - manager
    networks:
      - hydronet
    environment:
      - "API_GATEWAY_HOST=managerui"
      - "API_GATEWAY_GRPC_PORT=9090"
      - "API_GATEWAY_HTTP_PORT=8080"
      - "HTTP_PORT=9090"
      - "GRPC_PORT=9091"
