version: "3.5"

services:
  manager:
    image: hydrosphere/serving-manager:bf6e2b74633c91ca66858e05e186fee895e00653
    container_name: manager
    ports:
      - "19090:9090"
      - "19091:9091"
    depends_on:
      - postgres
    networks:
      - hydronet
      - extnet
    environment:
      CUSTOM_CONFIG: /app/config/dc.conf
    volumes:
      - ./dc.conf:/app/config/dc.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock
