version: "3.5"

services:
  gateway:
    image: hydrosphere/serving-gateway:58cb77cd8109f7f772c1a277146f8e10934d0a6e
    container_name: gateway
    ports:
      - "29090:9090"
      - "29091:9091"
    depends_on:
      - manager
    networks:
      - hydronet
    environment:
      - "API_GATEWAY_HOST=managerui"
      - "API_GATEWAY_GRPC_PORT=9090"
      - "API_GATEWAY_HTTP_PORT=8080"
      - "HTTP_PORT=9090"
      - "GRPC_PORT=9091"
