version: "3.5"

services:
  minio:
    image: bitnami/minio:2021.5.27-debian-10-r6
    container_name: minio
    ports: 
      - 9000:9000
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    networks:
      - extnet
      - hydronet