version: "3.5"

services:
  mongodb:
    image: bitnami/mongodb:4.4.7-debian-10-r11
    container_name: mongodb
    restart: on-failure
    environment:
      - MONGODB_ROOT_PASSWORD=hydr0s3rving
      - MONGODB_ADVERTISED_HOSTNAME=mongodb
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY+replicasetkey123
    ports:
      - 27017:27017
    networks:
      - extnet
      - hydronet
