# Default values for auto-od.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  full:  harbor.hydrosphere.io/hydro-serving/auto-od:f2c268ea1ffe29d65fc4587a26e508a88ffe3d67
  pullPolicy:  IfNotPresent

global:
  persistence:
    url: "" # Endpoint for the object storage. Compatible with S3 or Minio.
    mode: "minio"
    accessKey: "ACCESSKEYEXAMPLE" # accesskeyid for s3 or minio
    secretKey: "SECRETKEYEXAMPLE" # secretkeyid for s3 or minio
    region: "us-east-1"
    
  mongodb:
    url: "" #Mongodb address if external mongodb use
    rootPassword: "hydr0s3rving" #Mongodb root password
    username: "root" #Mongodb username
    password: "hydr0s3rving" #Mongodb password
    authDatabase: "admin" #Mongodb auth database
    database: "hydro-serving-data-profiler" #Mongodb database name

  tolerations: []  

service:
  type: ClusterIP
  port: 5001

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
