# Default values for ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

global:
  ui:
    ingress:
      enabled: false
      host: "hydrosphere.local" # Domain name for the frontend ingress.
      path: "/" # Path, which will match the service.
      enableGrpc: true # Enable grpc endpoints for services. Works only with `path: "/"`. 
      grpchost: "grpc.local" #Domain name for the grpc ingress
      issuer: "letsencrypt-prod" # A name of the cert-manager issuer name, configured within the 
                                 # cluster.
    configuration: |
      {
        "showHeader": true
      }
  tolerations: []
  
image:
  full: bulbawarrior/hydro-serving-ui:4.4.4
  pullPolicy:  IfNotPresent

service:
  type: ClusterIP
  httpPort: 9090
  grpcPort: 9091

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
