apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "auto-od.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "auto-od.name" . }}
    chart: {{ include "auto-od.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ include "auto-od.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "auto-od.name" . }}
        release: {{ .Release.Name }}
        logging: "true"
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.full }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["python", "grpc_app.py"]
          ports:
            - name: grpc
              containerPort: 5000
              protocol: TCP
          env:
            - name: HS_CLUSTER_ADDRESS
              value: "http://{{ template "ui.fullname" . }}:9090"
            - name: MONGO_URL
              value: {{ if .Values.global.mongodb.url }}"{{ .Values.global.mongodb.url }}"{{ else }} "{{ template "mongodb.fullname" . }}"{{ end }}  
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_DATABASE
              value: "{{ .Values.global.mongodb.database }}"
            {{- if .Values.global.mongodb.username }}
            - name: MONGO_USER
              value: "{{ .Values.global.mongodb.username }}"
            {{- end }}
            {{- if .Values.global.mongodb.password }}
            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-mongodb-secret"
                  key: "password"
            {{- end }}
            {{- if .Values.global.mongodb.authDatabase }}
            - name: MONGO_AUTH_DB
              value: "{{ .Values.global.mongodb.authDatabase }}"
            {{- end }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-aws-secret"
                  key: "awsAccessKeyID"
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Release.Name }}-aws-secret"
                  key: "awsSecretAccessKey"
            - name: S3_ENDPOINT
            {{- if .Values.global.persistence.url }}
              value: {{ .Values.global.persistence.url }}
            {{- else }}
              value: http://{{ template "minio.fullname" . }}:9000
            {{- end }}
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:5000"]
            initialDelaySeconds: 5
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:5000"]
            initialDelaySeconds: 10
      imagePullSecrets:
        - name: "{{ .Release.Name }}-docker-secret"
{{- if .Values.global.tolerations }}  
      tolerations:
{{ toYaml .Values.global.tolerations | indent 8 }}
{{- end }}

