# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

.idea/
dist/*
target/resolution-cache
target/streams
target/scala-2.11/classes/
src/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
