ui:
  image:
    full: hydrosphere/hydro-serving-ui:f5836e0968c6e4b7f9c5a943f0073f34e11f8148
manager:
  image:
    full: hydrosphere/serving-manager:4f524ed07b803ed4d733462119b488d5a4e8512c
gateway:
  image:
    full: hydrosphere/serving-gateway:98e9add3a034ef5b85d628bb17cbceec1bfd515c
sonar:
  image:
    full: hydrosphere/sonar:79b47921b8f8eb37c9935101054fb10b871ccc40
visualization:
  image:
    full: hydrosphere/hydro-visualization:fa9ff705deb7192baa984569505c5cc6b8151de9  
    full: hydrosphere/auto-od:7cec5d2ebde759e1001b0e8d9a3578e13572e96e
  image:
    full: hydrosphere/auto-od:7cec5d2ebde759e1001b0e8d9a3578e13572e96e
stat:
  image:
    full: hydrosphere/stat:343d76a3b01b73b5170d5ae602b0066fe0eeb211
rootcause:
  image:
    full: hydrosphere/hydro-root-cause:256d6e3ef012d45be79e7287dde54ca2764d9cfd
