<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%t] %c{1.}.%M.%L} %msg%n">
            </PatternLayout>
        </Console>
        <!--<File name="LogFile" fileName="logs/app.log">-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %c{1.} %C{1.}.%M.%L %msg%n">-->
            <!--</PatternLayout>-->
        <!--</File>-->
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="slick" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io.hydrosphere.serving" level="ALL" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>