# Default values for manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

serviceAccount:
  create: true
  
global:
  registry:
    insecure: true # Use insecure docker registry
    ingress:
      enabled: false
      host: "hydrosphere-registry.local"
      path: "/"
      issuer: "letsencrypt-prod"
    url: ""
    username: "example" # Username to authenticate to the registry 
    password: "example" # Password to authenticate to the registry
    
  postgresql:
    url: "" #Postgresql address if external postgresql use
    username: "postgres"  #Postgresql username
    password: "hydr0s3rving" #Postgresql password
    database: "hydro-serving" #Postgresql database name 

  tolerations: []

env: {}

javaOpts: "-Xmx1024m -Xms128m -Xss16M"

image:
  full: hydrosphere/serving-manager:b017e6bb229e6845ac4ddefe50a860e1f86fcd95
  pullPolicy:  IfNotPresent

service:
  type: ClusterIP
  http_port: 9090
  grpc_port: 9091

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
