# Default values for manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

serviceAccount:
  create: true
  
global:
  registry:
    insecure: true # Use insecure docker registry
    ingress:
      enabled: false
      host: "hydrosphere-registry.local"
      path: "/"
      issuer: "letsencrypt-prod"
    url: ""
    username: "example" # Username to authenticate to the registry 
    password: "example" # Password to authenticate to the registry
    
  postgresql:
    url: "" #Postgresql address if external postgresql use
    username: "postgres"  #Postgresql username
    password: "hydr0s3rving" #Postgresql password
    database: "hydro-serving" #Postgresql database name 

  tolerations: []

env: {}

monitoring:
  enabled: true
  
javaOpts: "-Xmx1024m -Xms128m -Xss16M -Dcom.sun.management.jmxremote.port=5555 -Dcom.sun.management.jmxremote.rmi.port=5555 -Djava.rmi.server.hostname=localhost -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
depconfig: 

image:
  full: hydrosphere/serving-manager:d27e43005189b032a90772a6f652acbf69e6cf08
  pullPolicy:  IfNotPresent

service:
  type: ClusterIP
  http_port: 9090
  grpc_port: 9091
  jmx_port: 5555

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
   cpu: 1000m
   memory: 2Gi
  requests:
   cpu: 512m
   memory: 1Gi

nodeSelector: {}

tolerations: []

affinity: {}
